<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= config.title %></title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

<div class="container-fluid">
	<div class="row">
    <div class="heading">
      <h1 class="text-center">
        <%= config.title %>
        <small style="
        display:block;
        font-size:20px;
        padding-top:10px;
        color: #275280;
        ">“going to live my life...”</small>
      </h1>
    </div>
	</div>
</div>

<div class="container">
  <div class="row">
		<div class="col-md-12 main-container">
			<div class="row">
				<div class="col-md-8">
          <% site.posts.each(function(post){ %>
          <h2 style="
          background: #e1e2dc;
          padding: 26px;
          border-radius: 14px;
          "><a style="color: #cb9b79;" href=<%- post.link %>><%- post.title || '(no title)' %></a>
            <small style="font-size:14px;display:block;color: #cb9b79;">发布于: <%= post.date %></small>
          </h2>
					<p>
						<%- post.content %>
					</p>
          <% }) %>
				</div>
				<div class="col-md-4 intropanel">
          <!-- <div><span class="label label-default">这是个标签</span></div> -->
					<dl>
						<dt>
							姓名
						</dt>
						<dd>
							<%= config.author %>
						</dd>
						<dt>
							个人简介
						</dt>
						<dd>
							这个人不是很懒，但也什么都没留下……
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
